node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
floci*
data*
terraform/.terraform/*
azure-amd64.vhd
*terraform-script/terraform.tfstate*
terraform-script/terraform.tfstate*
terraform-script/terraform.tfstate.ba*
terraform-script/terraform.lock*
terraform-sql/terraform.lock*
terraform-sql/.terraform/*
terraform-sql/terraform*
terraform-script/.terraform/*